<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{ title }}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">{{ main_name }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">홈으로</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://www.notion.so/6a071a49a18e452e90f439c7c5e43f70">개발자 정보</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">추가 템플릿</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1 class="fw-bold">컴 홍 설</h1>
                <p class="lead fw-bold">안녕하세요. <strong>컴퓨터응용설계</strong> 과제 입니다.</p>
                
                <div class="row row-cols-2">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">오늘의 기술 스택</h5>
                                
                                    <div class="input-group mb-3">
                                    </div>
                                    <h6 class="card-subtitle mb-2 text-muted">오늘의 기술 스택을 알려드립니다.</h6>
                                    <form method="post" action="/">
                                        <input type="text" name="tool" class="form-control" placeholder="예시: Python" aria-label="" aria-describedby="basic-addon1">
                                    </br>
                                    <ul class="list-group list-group-flush">
                                        {% if tool_value != "" %}
                                        <li class="list-group-item">
                                            <img src={{ tool_value['data']['toolByName']['imageUrl'] }} alt="Tool Image">
                                        </li>
                                        <li class="list-group-item">
                                            {{ tool_value['data']['toolByName']['name'] }}
                                        </li>
                                        </li>
                                        <li class="list-group-item">
                                            {{ tool_value['data']['toolByName']['title'] }}
                                        </li>
                                        <li class="list-group-item">
                                            {{ tool_value['data']['toolByName']['description'] }}
                                        </li>
                                        {% endif %}
                                        {% if tool_value == "" %}
                                        <li class="list-group-item">
                                            입력한 기술이 없습니다.
                                        </li>
                                        {% endif %}
                                    </ul>
                                        <button type="submit" name="tool_submit" class="btn btn-primary">자세히 검색</button>
                                    </form>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">오늘의 날씨</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">자세한 날씨</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">오늘의 장터</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">쇼핑몰 가기</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">오늘의 블로그</h5>
                                <p class="card-text">
                                    {{ content_blog['personal-blog'] }}
                                </p>
                                <a href="#" class="btn btn-primary">블로그 보기</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">EPL 순위 정보</h5>
                                <p class="card-text">
                                    <a class="list-group-item list-group-item-action" href="#navigation" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="navigation">1위 {{ content_sports['data'][0]['name'] }}</a>
                                    <ol class="list-group collapse list-group-numbered" id="navigation">
                                    {% set rank = namespace(value=1) %}
                                    {% for content in content_sports['data'][1:] %}
                                        {% set rank.value = rank.value + 1 %}
                                        <a href="#" class="list-group-item fs-6 list-group-item-action">{{ rank.value }}위 {{ content['name'] }}</a>
                                    {% endfor %}
                                    </ol>
                                </p>
                                <a href={{ epl_rank_url + "rank/" }} class="btn btn-primary">스포츠 보기</a>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="static/js/scripts.js"></script>
    </body>
</html>
